@media only screen and (max-width:600px){
    .conntainer{

        padding: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .port-container{
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin:0;
        border-radius: 0ch;
        padding: 0;
    }
    .side-bar{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vW;
        z-index: -1;
        border-radius: 0px;
        background: none;
        background: linear-gradient(to left top,rgb(142, 137, 137),white);


    }
    .me{
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        align-items: unset;
        margin: 0;
    }
    .social{
        position: absolute;
        flex-direction: column;
        top: 20px;
    }
    .social div{
        background-color: rgba(0, 0, 0, 0.224);
        height: 25px;
        width: 25px;
        border-radius: 10px;
    }
    .social div i{
        font-size: 13px;
    }
    .social div:hover i{
        font-size: 16px;
    }
    .content{
        border-radius: 30px 30px 0px 0px;
        color: transparent;

    }
    .photo{
        width: 100px;
        height: 120px;

    }
    .name{
        position: relative;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        background-color: transparent;


    }
    .myphoto{
        position: absolute;
        width: 100px;

    }
    .photoback{
        height: 100px;
        width: 100px;
    }
    .name h2{
        color: rgb(246, 74, 74);
        font-size: 18px;


    }

    body{
        background: none;
        overflow: hidden;
        padding: 0;
        margin: 0;

        display: flex;
        overflow-y: unset;
        height: 100vh;
        width: 100vw;

    }
    .contents{
        border-radius: 30px 30px 0px 0px;
        height: 93%;

    }

    .main{
        position: absolute;
        bottom: 0;
        overflow: hidden;
        height: 80vh;
        
        width: 100vW;
        background-color: black;
        border-radius: 30px 30px 0px 0px;
    }
    .buttons{

        height: 7%;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 0;
        padding-top: 3px;

    }
    .button{
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: 3px;
        margin-left: 0px;
        margin-right: 0px;
        
    }
    .button span{
        height: 100%;
        border-radius: 3px;
    }
    .button p{
        color: rgb(71, 123, 255);
        font-size: 13px;
    }
    .button:hover p{
        color: black;
    }
    .button.active span{
        background-color: #5c5c5d34;
        border-radius: 3px 3px 0px 0px;
    }
    .button.active p{
        color: beige;
    }
}
