        body {
            padding: 0;
            margin: 0;
        }
        
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            background-image: linear-gradient(to right top, #80f12f, #6cdbeb);
        }
        
        .port-body {
            height: 98%;
            overflow: hidden;
            z-index: 1;
            padding: 5px;
            backdrop-filter: blur(5px);
            width: 600px;
            position: absolute;
            display: grid;
            grid-gap: 3px;
            grid-template-columns: 150px auto;
            border-radius: 7px;
            background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.218));
            box-sizing: border-box;
        }
        
        .pp {
            height: auto;
            width: 100px;
            transform: translateY(-100);
            z-index: 1;
            border-radius: 0px 50px 50px 50px;
            position: relative;
            bottom: 10px;
        }
        
        .photo {
            width: 100px;
            height: 130px;
            position: relative;
            top: 28px;
        }
        
        .photo-container {
            border-radius: 50%;
            background-image: linear-gradient(to left top, rgb(209, 5, 255), rgb(255, 118, 118));
            height: 100px;
            width: 100px;
            box-sizing: border-box;
        }
        
        .c1 {
            height: 100px;
            width: 100px;
            background-color: rgba(255, 255, 255, 0.578);
            border-radius: 50%;
            position: relative;
            top: 300px;
            left: -240px;
        }
        
        .c2 {
            height: 100px;
            width: 100px;
            background-color: rgba(255, 255, 255, 0.442);
            border-radius: 50%;
            position: relative;
            top: -300px;
            left: 260px;
        }
        
        .top-side {
            background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.462), rgba(255, 255, 255, 0.074));
            position: relative;
            width: 150px;
            display: flex;
            justify-content: center;
            border-radius: 7px;
            box-sizing: border-box;
            height: 100%;
        }
        
        .top-cont {
            width: 100px;
        }
        
        .name {
            font-family: 'Bangers', cursive;
            text-align: center;
            padding: 0;
            margin: 0;
            color: #f02d37;
        }
        
        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 90px;
        }
        
        .menu>li a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.762);
            font-family: 'Amaranth', sans-serif;
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
            box-sizing: border-box;
            color: rgb(90, 0, 246);
            width: 100%;
            padding-left: 3px;
            font-size: 13px;
        }
        
        .menu>li {
            width: 100px;
            background-color: #338fff4a;
            height: 35px;
            box-sizing: border-box;
            margin-top: 15px;
            border-radius: 5px;
            overflow: hidden;
        }
        
        .menu>li a:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(255, 134, 21);
            transition: all 0.6s;
            font-size: 14px;
        }
        
        .menu>li a:active {
            background-color: rgba(99, 178, 239, 0.544);
            color: rgb(255, 255, 255);
            transition: all 0.1s;
        }
        
        .footer {
            display: flex;
            position: relative;
            bottom: -280px;
        }
        
        .social {
            padding: 0;
            margin: 0;
            display: flex;
            list-style-type: none;
        }
        
        .social>li {
            position: relative;
            height: 33.33px;
            width: 33.33px;
            background-color: #2f59f1;
            border-radius: 50%;
        }
        
        .social>li a {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 50%;
        }
        
        i {
            color: #fff;
            font-size: 20px;
        }
        
        .social>li a:hover i {
            color: #f02d37;
        }
        
        .social>li a:hover {
            background-color: #fff;
            transition: all 0.5s;
        }
        
        .content {
            padding: 10px;
            border-radius: 7px;
            overflow: hidden;
        }
        
        .something {
            font-family: 'Play', sans-serif;
            text-align: justify;
            font-size: 14px;
            color: rgba(7, 5, 5, 0.693);
        }
        
        h1 {
            font-family: 'Play', sans-serif;
            color: rgb(175, 21, 118);
        }
        .clock{
            height: 200px;
            width: 200px;
            padding: 0;
            margin:0;
            display:flex;
            background-color:rgb(231, 154, 154);
           
            border-radius: 50%;
            border:10px solid rgba(23, 148, 238, 0.938);
            background-image: url('back.jfif');
            background-size: 200px;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            box-shadow: -2px 5px 5px rgb(59, 55, 55);
        }
        #Time{

  
            font-size: 50px;
            color: #fff173;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.564);
            font-family: 'Lobster', cursive;
            
            

        }
        .Time{
            height:15px;
            width:15px;
            border-radius: 50%;
            background-color: #ba01b7;z-index: 15;
        }
        #hour{
            height:120px;
            width:5px;
            background-color: transparent;
            box-sizing: border-box;
            position: absolute;
            z-index: 0;
        }
        #minuite{
            height:140px;
            width:4px;
            background-color: transparent;
            position: absolute;
            box-sizing: border-box;
            z-index: 1;

        }
        #second{
            height:160px;
            width:3px;
            background-color:transparent;
            position: absolute;
            z-index: 3;
            box-sizing: border-box;

        }
        .hour2{
            position: absolute;

            height: 80px;
            background-color: rgb(47, 51, 66);
            width:5px;

        }
        .second2{
            position:absolute;
            height: 100px;
            background-color: tomato;
            width:3px;
        }
        .minuite2{
            position:absolute;
            height: 90px;
            background-color: rgb(0, 39, 181);
            width:4px;

        }
.clock2{
    height:80px;
    width:200px;
    background-color: teal;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border:8px solid rgb(31, 238, 79);
    box-shadow: 1px 5px 5px black;
}