@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;


    background-image: url("back11.jpg");
    
}
.container{
    height: 80vh;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.51);
    border-radius: 30px;
    
}
.port-container{
    
    height: 100%;
    width: 850px;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    z-index: 0;
    
    grid-gap: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-auto-rows: 1fr;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.272), rgba(255, 255, 255, 0.218));
}

.dot1{
    position: absolute;
    top: 100px;
    left:400px;
    background-color: rgba(255, 255, 255, 0.565);
    
}
.dot2{
    background-color: rgba(0, 0, 255, 0.544);
    top:70%;
    right: 400px;
}
.side-bar{
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.36),transparent);
    border-radius: 30px 5px 5px 30px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr 1fr;

    backdrop-filter: (5px);
}

.me{
    padding-top: 30px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 5px 5px  5px;

    
}
.photo{
    position: relative;
    height: 150px;
    width: 120px;
    overflow: hidden;
    border-radius: 75px;

}
.myphoto{
    position: absolute;
    width: 120px;
    height: auto;
    border-radius: 0px 0px 75px 75px;
    bottom:0;
}
.photoback{
    position:absolute;
    height: 120px;
    width: 120px;
    bottom: 0;
    background:linear-gradient(to bottom right,rgba(84, 84, 84, 0.585),rgba(255, 255, 255, 0));
    border-radius: 75px;
}
.name h2{
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, 0.469);
    font-size: 18px;
    letter-spacing: 5px;
}

.main{
    border-radius: 5px 30px 30px 5px;
    display: flex;
    flex-direction: column-reverse;

    background-color: transparent;


}
.buttons{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;


}
.button span{
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(0% at 1% 1%);
    background-color: rgba(246, 237, 237, 0.428);

    border-radius: 0px 0px 3px 3px;
}
.name{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
}
.button{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;

    margin-left:5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 3px 3px;
}

.button:hover span{
    clip-path: circle(139.4% at 1% 1%);
    transition: all 0.5s;
}
.button:hover p{
    color: rgb(3, 70, 137);
}
.button p{
    color: rgba(34, 33, 33, 0.897);
    font-family: 'Changa', sans-serif;
    font-size: 14px;
    
    z-index: 2;

}
.button.active p{
    color: rgb(3, 2, 2);
}

.contents{
    border-radius: 5px 30px 30px 5px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
    height: 95%;

}
.content{

    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: circle(0.4% at 50% 100%);

    border-radius: 5px 30px 30px 5px;
    background: linear-gradient(to left top,rgba(255, 255, 255, 0.36),transparent);
}
.button.active span{
    background-color: transparent;
    clip-path: circle(139.4% at 1% 1%);
}
.button.active{
    border-bottom: none;
    backdrop-filter: blur(5px);
}
.content.active{
    clip-path: circle(150.0% at 50% 100%);
    transition: all 0.5s;

}
.social{
    display: flex;
    align-items: center;
    justify-content: center;


}
.facebook,.twitter,.linkedin,.codeforces{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.17);
    margin: 5px;
}
.facebook,.twitter,.linkedin i{
    font-size: 15px;
}
.facebook:hover i{
    color:#1a57f0;
    font-size: 18px;
}
.twitter:hover i{
    color:#1a8cf0;
    font-size: 18px;
}
.linkedin:hover i{
    color:#073ba4;
    font-size: 18px;
}
.social div:active{
    border-radius: 50%;
}
