*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(68, 246, 95, 0.49);
    background-image: linear-gradient(to right top, #80f12f, #6cdbeb);
}
.container{
    height: 100%;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.port-container{
    height: 98vh;
    width: 850px;
    border-radius: 5px;
    z-index: 0;
    padding: 5px;
    grid-gap: 3px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-auto-rows: 1fr;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.218));
}
.dot1,.dot2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);position: absolute;
    z-index: -1;
    
}
.dot1{
    position: absolute;
    top: 100px;
    left:400px;
    background-color: rgba(255, 255, 255, 0.565);
    
}
.dot2{
    background-color: rgba(0, 0, 255, 0.544);
    top:70vh;
    right: 400px;
}
.side-bar{
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.625),transparent);
    border-radius: 5px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 1fr 1fr 1fr;

    backdrop-filter: (5px);
}

.me{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.204);
}
.photo{
    position: relative;
    height: 70%;
    width: 50%;
    overflow: hidden;
    border-radius: 75px;

}
.myphoto{
    position: absolute;
    width: 150px;
    height: auto;
    border-radius: 0px 0px 75px 75px;
    bottom:0;
}
.photoback{
    position:absolute;
    height: 150px;
    width: 150px;
    bottom: 0;
    background:linear-gradient(to bottom right,rgb(245, 138, 138),rgb(251, 251, 126));
    border-radius: 75px;
}
@media only screen and (max-width:850px){
    .container{
        width: 98vw;
    }
}
